@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: 'Roboto', sans-serif; /* body text */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif; /* headings */
}

.footer a {
  @apply transition-colors hover:text-primary
}

.common-hover-effect {
  @apply duration-400 ease-linear
}

@plugin "daisyui" {
  themes: light --default, dark;
}

/* LIGHT THEME */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

   --color-base-100: #E4E4E4;
  --color-base-200: #f5f5f5;
  /* --color-base-300: oklch(92% 0.004 286.32); */
  /* --color-base-content: oklch(21% 0.006 285.885); */
  --color-primary: #161616;
  --color-secondary: #121212;
  --color-accent: #0B8B60;
  /* --color-accent-content: ##151818; */
}

/* DARK THEME */
@plugin "daisyui/theme" {
  name: "dark";

   --color-base-100: #010515;
  --color-base-200: #0D1529;
  /* --color-base-300: oklch(92% 0.004 286.32); */
  /* --color-base-content: oklch(21% 0.006 285.885); */
  --color-primary: #EEF2F6;
  --color-secondary: #757983;
  --color-accent: #0B8B60;
  /* --color-accent-content: #0D1529; */
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-primary
}

p {
  @apply font-medium text-secondary
}