@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');
@import "tailwindcss";
@plugin "daisyui";


/*//* THEME CUSTOMIZATION */
@plugin "daisyui" {
  themes: light --default, dark;
}

/* LIGHT THEME */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

   --color-base-100: #E4E4E4;
  /* --color-base-200: #f5f5f5; */
  --color-base-200: #ffffff;
  --color-primary: #161616;
  --color-secondary: #354052;
  --color-accent: #0B8B60;
}

/* DARK THEME */
@plugin "daisyui/theme" {
  name: "dark";

   --color-base-100: #010515;
  --color-base-200: #0D1529;
  --color-primary: #EEF2F6;
  --color-secondary: #757983;
  --color-accent: #0B8B60;
}

body {
  font-family: 'Roboto', sans-serif; /* body text */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif; /* headings */
  @apply font-bold text-primary
}

/* h1, h2, h3, h4, h5, h6 {
  @apply font-bold text-primary
} */

p {
  @apply font-medium text-secondary
}

.active {
  @apply font-bold text-accent border-b-2 rounded-none p-0
}

.section-padding {
  @apply py-10 md:py-14 lg:py-20
}

.title {
  @apply font-black text-4xl text-center md:text-5xl;
}

.common-hover-effect {
  @apply duration-400 ease-linear
}

.btn-hover {
  @apply shadow-none border-accent border-2 bg-accent transition-colors duration-300 ease-linear hover:text-accent hover:bg-transparent hover:border-accent
}

.footer a {
  @apply transition-all duration-300 ease-linear hover:text-accent hover:scale-105
}